h2#alerts Alerts
hr
.alert
  h3 Alert
  p
    | Laborum excepteur voluptate duis laborum qui Lorem culpa. Qui ipsum sint irure do nostrud ut ipsum voluptate cillum duis in. Dolore enim ipsum occaecat nulla minim eiusmod ad id adipisicing adipisicing ipsum sunt enim cillum.
.alert.alert-success
  h3 Alert Success
  p
    | Esse id enim consequat occaecat cupidatat adipisicing est excepteur. Amet fugiat aute amet deserunt. Minim aliquip quis Lorem ea cupidatat cillum et laboris Lorem consectetur amet. Sint duis adipisicing ad reprehenderit aliquip ex commodo aute consectetur cillum magna mollit. Nulla tempor qui in ullamco laboris eu aliqua consequat. Nisi nisi occaecat amet laborum.
.alert.alert-info
  h3 Alert Info
  p
    | Do adipisicing ullamco laboris adipisicing commodo officia ut eiusmod ea non in nostrud duis incididunt. Nostrud qui esse velit qui sint. Velit voluptate officia dolore nostrud tempor est cillum adipisicing. Elit qui id veniam consectetur ullamco.
.alert.alert-danger
  h3 Alert Danger
  p
    | Est magna velit laboris do commodo mollit cupidatat magna culpa pariatur ipsum in. Dolor in cupidatat aute magna aliquip et amet ut exercitation veniam. Cupidatat exercitation do adipisicing reprehenderit exercitation mollit est id nulla. Aliquip nostrud laboris proident velit do ex magna quis. Duis do incididunt deserunt ipsum. Do commodo officia ut ex nulla. Consequat duis ea qui sunt ad consequat nostrud veniam dolore.
.alert.alert-warning
  h3 Alert Warning
  p
    | Ullamco dolor adipisicing excepteur ullamco proident reprehenderit est excepteur duis eiusmod excepteur eiusmod laborum minim. Deserunt aliqua officia duis veniam reprehenderit cupidatat. Irure pariatur qui reprehenderit nostrud minim est ullamco dolore cupidatat duis. Ipsum sit culpa irure adipisicing ipsum nisi minim non sunt elit tempor cillum. Magna commodo do tempor minim et eu occaecat non ex duis exercitation id.