.cnt
  h2#buttons Buttons
  hr
  h3 Basic Set
  a(href='') Plain Anchor
  button.btn.btn-link Button Link
  button.btn Simple buttons
  button.btn.btn-primary Primary Button
  button.btn.btn-success Success Button
  button.btn.btn-warning Warning Button
  button.btn.btn-danger Danger Button
  button.btn.btn-info Info Button
  
.cnt
  h3 Button Sizes
  button.btn.btn-xs Button Extra Small
  button.btn.btn-sm Button Small
  button.btn.btn-md Button Medium
  button.btn.btn-lg.btn-primary Button Large
  h3 Button Emphasis
  button.btn.btn-lg.btn-primary.emphasis Button Emphasis
  h3 Horizontal Button Group
  .btn-group
    button.btn Simple Button
    button.btn Simple Button
    button.btn Simple Button
    button.btn Simple Button
  h3 Vertical Button Group
  .btn-group-v
    button.btn Simple Button
    button.btn Simple Button
    button.btn Simple Button
    button.btn Simple Button