.cnt
  .card
    h5 Card Title
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis rem modi ratione tenetur consequatur sapiente obcaecati asperiores, odio amet quam aperiam dignissimos numquam provident quos eligendi doloremque porro tempora consequuntur?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga repellendus non eius quasi eveniet vero obcaecati, earum necessitatibus veniam explicabo voluptatem est facere iste suscipit excepturi cum vitae, perferendis quas?
