section.cnt
  h3 Dropdown Menus
    .btn-dropdown
      button.btn(onclick='dropdownToggle(this)')
        | Dropdown Menu
        span.caret
      ul.dropdown-menu
        li
          a(href='') Longer titles should wrap
        li
          hr
        li
          a(href='') Link
        li
          a(href='') Link
        li
          button.btn.btn-success
            | Use buttons instead of anchors
    .btn-dropdown
      button.btn(onclick='dropdownToggle(this)')
        span.caret
        |  Dropdown Menu Aligned Left
      ul.dropdown-menu.dropdown-left
        li
          a(href='') Link
        li
          a(href='') Link
        li
          a(href='') Link
    .btn-dropdown
      button.btn(onclick='dropdownToggle(this)')
        | Dropdown Menu Aligned Right
        span.caret
      ul.dropdown-menu.dropdown-right
        li
          a(href='') Link
        li
          a(href='') Link
        li
          a(href='') Link
    .btn-dropdown
      button.btn(onclick='dropdownToggle(this)')
        | Dropdown Menu Aligned Centre
        span.caret
      ul.dropdown-menu.dropdown-centre
        li
          a(href='') Link
        li
          a(href='') Link
        li
          a(href='') Link
