.banner.banner-default
  .cnt.group
    header
      h1 Components Page
      p A little CSS framework with a few helpful components.
      .btn-group
        a.btn(href='#type') Type
        a.btn(href='#buttons') Buttons
        a.btn(href='#forms') Forms
        a.btn(href='#alerts') Alerts
        a.btn(href='#tables') Tables
        a.btn(href='#misc') Misc