section.cnt
  h2#tables Tables
  h3 Regular Table
  .group
    table.table
      thead
        tr
          th Company
          th Contact
          th Country
      tbody
        tr
          td Alfreds Futterkiste
          td Maria Anders
          td Germany
        tr
          td Centro comercial Moctezuma
          td Francisco Chang
          td Mexico
        tr
          td Ernst Handel
          td Roland Mendel
          td Austria
        tr
          td Island Trading
          td Helen Bennett
          td UK
        tr
          td Laughing Bacchus Winecellars
          td Yoshi Tannamuri
          td Canada
        tr
          td Magazzini Alimentari Riuniti
          td Giovanni Rovelli
          td Italy
  h3 Striped Table
  .group
    table.table.table-striped
      thead
        tr
          th Company
          th Contact
          th Country
      tbody
        tr
          td Alfreds Futterkiste
          td Maria Anders
          td Germany
        tr
          td Centro comercial Moctezuma
          td Francisco Chang
          td Mexico
        tr
          td Ernst Handel
          td Roland Mendel
          td Austria
        tr
          td Island Trading
          td Helen Bennett
          td UK
        tr
          td Laughing Bacchus Winecellars
          td Yoshi Tannamuri
          td Canada
        tr
          td Magazzini Alimentari Riuniti
          td Giovanni Rovelli
          td Italy
