doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Peanut CSS
    link(rel='stylesheet', href='dist/peanut.css')

  body

    // Header
    include includes/header.pug

    main

      h2 Hey

      // Type
      include includes/type.pug

      // Buttons
      include includes/buttons.pug

      // Dropdowns
      include includes/dropdowns.pug

      // Forms
      include includes/forms.pug

      // Tables
      include includes/tables.pug

      // Columns
      include includes/grid.pug

      // Miscs
      include includes/misc.pug

  // Component scripts
  script(src='components.js')
