.alert {
  background: var(--grey-lighter);
  padding:
    var(--base-padding-v)
    var(--base-padding-h)
  ;
  box-shadow:
    inset 2rem -2rem 15rem 0 rgba(255, 255, 255, 0.2)
    ,inset -2rem 2rem 15rem 0 rgba(255, 255, 255, 0.1)
  ;
  border: 0.5rem solid rgba(255, 255, 255, 0.5);
  margin-bottom: var(--base-margin-d);
}
.alert.alert-success {
  background: var(--brand-success);
}
.alert.alert-info {
  background: var(--brand-info);
}
.alert.alert-danger {
  background: var(--brand-danger);
}
.alert.alert-warning {
  background: var(--brand-warning);
}
