/* Buttons */
.btn,
button {
  display: inline-block;
  /* background: rgba(158, 89, 89, 0.1); */
  background: rgba(255, 255, 255, 0.5);
  /* background: linear-gradient(
    rgba(245, 245, 245, 0.8),
    rgba(187, 97, 97, 0.8)
  ); */
  border: var(--base-border-width) solid;
  border-color: var(--grey-light);
  border-radius: var(--base-radius);
  color: var(--grey-dark);
  padding: var(--btn-padding);
  margin-bottom: var(--base-margin-d);
  font-size: 1rem; /* Required to counter effects of whitespace hack */
  transition:
    0.5s background
    ,0.5s box-shadow
  ;
  box-shadow: inset 0 0 transparent;
}
btn,
button:hover {
  /* border-color: var(--btn-border-color); */
  cursor: pointer;
  background-position: 100px;
  box-shadow:
    inset 0em 0em 4em -1.5em
  ;
  /* background:rgba(245, 245, 245, 0.8); */
  /* background: linear-gradient(
    to bottom,
    rgba(245, 245, 245, 0.8),
    rgba(235, 235, 235, 1)
  ); */
}

/* Sizing */
.btn-lg {
  padding: 2rem;
}
.btn-md {
  padding: 1rem;
}
.btn-sm {
  padding: 0.5rem;
}
.btn-xs {
  padding: 0.25rem;
}
.btn-xs {
  padding: 0.25rem;
}

/* Links */
a,
.link,
.btn-link {
  padding: 0;
  color: var(--brand-primary);
  text-decoration: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  background: none;
}
a:hover,
.link:hover,
.btn-link:hover {
  background: none;
  text-decoration: underline;
  box-shadow: none;
}
.btn-link {
  padding: var(--base-padding);
}

/* Colours */
.btn-primary {
  box-shadow: var(--brand-primary);
  border-color: var(--brand-primary);
  color: var(--brand-primary);
}
.btn-success {
  border-color: var(--brand-success);
  box-shadow: var(--brand-success);
  color: var(--brand-success);
}
.btn-danger {
  border-color: var(--brand-danger);
  box-shadow: var(--brand-danger);
  color: var(--brand-danger);
}
.btn-warning {
  border-color: var(--brand-warning);
  box-shadow: var(--brand-warning);
  color: var(--brand-warning);
}
.btn-info {
  border-color: var(--brand-info);
  box-shadow: var(--brand-info);
  color: var(--brand-info);
}
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover {
  /* Inherit from font colour */
  background: rgba(255, 255, 255, 0.2);
  /* inset 0 0 1rem 0 */

}

.btn-emphasis {
  /* color: white; */
  /* color: white; */
  box-shadow: inset 0 0 30rem 30rem;
  /* background: inherit; */
}
.btn-emphasis:hover {
  /* box-shadow: 1rem 1rem 1rem 1rem; */
}

/* Group buttons together visually */
.btn-group {
  display: inline-block;
  margin-bottom: var(--base-margin-d);
  font-size: 0px; /* Hack to remove whitespace */
}
.btn-group > * {
  margin-right: calc(var(--base-border-width) * -2);
  margin-bottom: 0;
}
.btn-group > :first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}
.btn-group > :last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > :not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-left: calc(var(--base-border-width) * -2);
}
/* Vertical */
.btn-group-vertical {
  display: block;
  width: auto;
  margin-bottom: var(--base-margin-d);
}
.btn-group-vertical > * {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
.btn-group-vertical > :first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > :last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-group-vertical > :not(:first-child):not(:last-child) {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
}

/* .btn-block {
  display: block;
} */

