@include c(alert) {
  background: v(grey-lighter);
  border: 5px solid rgba(255, 255, 255, .5);
  box-shadow: inset 2rem -2rem 15rem 0 rgba(255, 255, 255, .2), inset -2rem 2rem 15rem 0 rgba(255, 255, 255, .1);
  margin-bottom: v(base-margin-d);
  padding: v(base-padding);

  &._success {
    background: v(brand-success);
  }

  &._info {
    background: v(brand-info);
  }

  &._danger {
    background: v(brand-danger);
  }

  &._warning {
    background: v(brand-warning);
  }
}
