.alert {
  background: var(--grey-lighter);
  border: 5px solid rgba(255, 255, 255, 0.5)
  ;
  box-shadow:
    inset 2rem -2rem 15rem 0 rgba(255, 255, 255, 0.2)
    ,inset -2rem 2rem 15rem 0 rgba(255, 255, 255, 0.1);
  margin-bottom: var(--base-margin-d);
  padding:
    var(--base-padding-v)
    var(--base-padding-h)
  ;
  &.alert-success {
    background: var(--brand-success);
  }

  &.alert-info {
    background: var(--brand-info);
  }

  &.alert-danger {
    background: var(--brand-danger);
  }

  &.alert-warning {
    background: var(--brand-warning);
  }
}
