$brand-colours: 'primary', 'success', 'danger', 'warning', 'info';

/* Buttons */
.btn {
  background: v(btn-background);
  border: v(base-border-width) solid v(btn-border-color);
  border-radius: v(base-radius);
  color: v(btn-color);
  display: inline-block;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: v(base-margin-d);
  outline: none;
  padding: v(btn-padding);
  text-align: center; /* Required to counter effects of whitespace hack */
  transition: .5s box-shadow, .2s border-color;

  // &.active {
  //   // background-image: #{$trans-black-15};
  // }

  &:hover {
    // background-image: #{$trans-black-5};
    // background-repeat: repeat;
    background-image: v(trans-black-5);
    cursor: pointer;
  }
}

// Generate button styles
@each $item in $brand-colours {
  #{'.btn-' + $item} {
    background: v(brand-#{$item});
    border-color: v(brand-#{$item}-highlight);
    color: #fff;

    &:hover {
      background-color: v(brand-#{$item});
    }
  }
}

/* Sizing */
.btn-lg {
  padding: 2rem;
}

.btn-md {
  padding: 1rem;
}

.btn-sm {
  padding: .5rem;
}

.btn-xs {
  padding: .25rem;
}

/* Links */
a,
.link,
.btn-link {
  background: none;
  border: 0;
  color: v(link-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  text-decoration: none;

  &:hover {
    background: none;
    box-shadow: none;
    text-decoration: underline;
  }
}

.btn-link {
  padding: v(base-padding);
}

// Emphasis on a single button
.btn-emphasis {
  box-shadow: inset 0 0 30rem 30rem;
}

/* Group buttons together visually */
.btn-group,
.btn-group-v {
  display: inline-block;
  font-size: 0;
  margin-bottom: v(base-margin-d); /* Hack to remove whitespace */

  .btn {
    margin-bottom: 0;
    margin-right: calc(#{v(base-border-width)} * -2);

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}

.btn-group {
  > .btn {
    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -1px;
    }
  }
}

/* Veritcal */
.btn-group-v {
  > .btn {
    width: 100%;

    &:not(:first-child):not(:last-child) {
      border-bottom: 0;
      border-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

/* Dropdowns */
.btn-dropdown {
  display: inline-block;
  position: relative;

  > .btn ~ ul {
    background: #fff;
    border: 0;
    border-radius: v(base-radius);
    border-style: solid;
    box-shadow: v(box-shadow);
    display: none;
    list-style-type: none;
    margin: 0;
    min-width: 7rem;
    padding: v(base-padding-v) 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;

    &.active ~ ul {
      display: inline-block;
      z-index: v(zindex-dropdown);
    }
  }
}

/* Dropdown Position */
.dropdown-menu {
  &.dropdown-left {
    left: 0;
    right: auto;
  }

  &.dropdown-right {
    left: auto;
    right: 0;
  }

  &.dropdown-centre {
    left: 0;
    right: 0;
  }
}

.btn-dropdown > .btn ~ ul > li > a,
.btn-dropdown > .btn ~ ul > li > .btn {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  display: block;
  margin: 0;
  padding: v(btn-dropdown-padding-v --btn-dropdown-padding-h);
  width: 100%;
}
