/* Applies some margins around a group of objects */
label {
  > input[type='email'],
  > input[type='number'],
  > input[type='search'],
  > input[type='text'],
  > input[type='tel'],
  > input[type='url'],
  > input[type='password'],
  > textarea,
  > select {
    margin-top: var(--base-margin-d);
  }
}

input {
  [type='email'],
  [type='number'],
  [type='search'],
  [type='text'],
  [type='tel'],
  [type='url'],
  [type='password'] {
    appearance: none;
    background-color: #fff;
    border: var(--base-border-width) solid var(--grey-light);
    border-radius: var(--base-radius);
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    padding: var(--base-padding);
  }
}

textarea,
select {
  appearance: none;
  background-color: #fff;
  border: var(--base-border-width) solid var(--grey-light);
  border-radius: var(--base-radius);
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  padding: var(--base-padding);
}

textarea {
  display: block;
  max-width: 50%;
  min-height: 10rem;
  min-width: 30em;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: var(--base-border-width) solid var(--brand-primary);
  outline: 0;
}
label,
legend {
  display: block;
  font-weight: var(--font-weight-heavy);
  margin-bottom: var(--base-margin-d);
}

fieldset {
  border-width: 0;
  padding: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
