@mixin form-input() {

}

/* Applies some margins around a group of objects */
input {
  [type='email'],
  [type='number'],
  [type='search'],
  [type='text'],
  [type='tel'],
  [type='url'],
  [type='password'] {
    appearance: none;
    background-color: #fff;
    border: v(base-border-width) solid v(grey-light);
    border-radius: v(base-radius);
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    padding: v(base-padding);
  }

  [type='checkbox'],
  [type='radio'] {
    display: inline;
  }
}

label {
  > input {
    [type='email'],
    [type='number'],
    [type='search'],
    [type='text'],
    [type='tel'],
    [type='url'],
    [type='password'] {
      margin-top: v(base-margin-d);
    }

    &:focus {
      border: v(base-border-width) solid v(brand-primary);
      outline: 0;
    }
  }

  > textarea,
  > select {
    margin-top: v(base-margin-d);
  }
}

textarea,
select {
  appearance: none;
  background-color: #fff;
  border: v(base-border-width) solid v(grey-light);
  border-radius: v(base-radius);
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  padding: v(base-padding);
}

textarea {
  display: block;
  max-width: 50%;
  min-height: 10rem;
  min-width: 30em;
}

label,
legend {
  display: block;
  font-weight: v(font-weight-heavy);
  margin-bottom: v(base-margin-d);
}

fieldset {
  border-width: 0;
  padding: 0;
}
