.cnt {
  /*  display: block;*/
  max-width: v(screen-max);
  padding: 0 v(base-padding);

  &.cnt-full {
    padding: 0 v(base-padding)
  }

  &.cnt-centre {
    /* display: inline-block; */
    margin: 0 auto;
  }

  &.cnt-inline {
    display: inline-block;
    padding: v(base-padding);
  }
}

.cols {
  display: flex;
  padding: v(base-padding-h);
}

.col {
  display: block;
}

/* Give a group a standard layout */
.group {
  margin-bottom: v(base-margin-d);
}

// @media screen and (max-width: v(screen-lg)) {
//   max-width: 1024px;
// }
// @media screen and (max-width: v(screen-md)) {
//   max-width: 900px;
// }
// @media screen and (max-width: v(screen-sm)) {
//   max-width: 640px;
// }
// @media screen and (max-width: v(screen-xs)) {
//   max-width: 300px;
// }
