.sticky-top {
  position: sticky;
  top: 1px;
  z-index: 9999;
}

.block {
  display: block;
}

.pull-left {float: left}

.pull-right {float: right}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

/* Replace with something else */
.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed;
  /* margin-left: 2px; */
  border-top: 4px solid\9;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}
.btn.active > .caret {
  transform: rotateX(180deg);
}

.emphasis {
  box-shadow: var(--box-shadow) !important;
}

/* @supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
} */
