/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
  background: v(grey-lighter);
  border: 1px solid v(grey-light);
  border-radius: v(base-radius);
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

hr {
  border-top: 1px solid v(grey-lighter);
  border-width: 0;
  padding-bottom: v(base-padding-v);
  padding-top: v(base-padding-v);
}
