.navbar {
  /* border: var(--base-border-width) solid var(--grey-light); */
  background:
    linear-gradient(
      3deg
      ,var(--grey-darker)
      ,var(--grey-dark)
    )
    ,linear-gradient(
      70deg
      ,var(--grey-darker)
      ,var(--grey-dark)
    );
  box-sizing: padding-box
  ;
}
.navbar > .btn-group {
  margin-bottom: 0;
}
.navbar > .btn-group > * {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
}
