.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  thead {
    background: v(grey-dark);
    color: v(light);
  }

  .td,
  th {
    padding: v(base-padding-v --base-padding-h);
  }

  &.table-striped tr:nth-child(even) {
    background-color: v(grey-lighter);
  }
}
