.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  thead {
    background: var(--grey-dark);
    color: var(--light);
  }

  .td
  ,th {
    padding: var(--base-padding-v) var(--base-padding-h);
  }

  &.table-striped tr:nth-child(even) {
    background-color: var(--grey-lighter);
  }
}
