/*
  Make clear separation using font face between user
  and ui content.
*/

.font-uc {
  font-family:
    'Lora'
    ,'Times New Roman'
    ,Times
    ,serif;
}

.font-ui {
  font-family:
    'Quattrocento Sans'
    ,Helvetica
    ,sans-serif;
}

/* Alignment */
.text-left {text-align: left;}

.text-right {text-align: right;}

.text-center {
  text-align: center;
}

h1
,h2
,h3
,h4
,h5 {
  margin: 0 0 v(base-margin-d);
  padding-bottom: v(base-margin-d);
  padding-top: v(base-margin-d);
}

h1 {
  font-size: 2.5rem;
  padding-top:
    calc(
      #{v(base-margin-d)} * 2
    );
}

h2 {
  font-size: 2rem;
  padding-top:
    calc(
      #{v(base-margin-d)} * 1.75
    );
}

h3 {
  font-size: 1.375rem;
  padding-top:
    calc(
      #{v(base-margin-d)} * 1.5
    );
}

h4 {
  font-size: 1.125rem;
  padding-top:
    calc(
      #{v(base-margin-d)} * 1.3
    );
}

h5 {
  font-size: 1rem;
  padding-top:
    calc(
      #{v(base-margin-d)} * 1.2
    );
}

h6 {
  font-size: .875rem;
  padding-top:
    calc(
      #{v(base-margin-d)} * 1.1
    );
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {font-weight: v(font-weight-light)}
.font-regular {font-weight: v(font-weight-regular)}
.font-heavy {font-weight: v(font-weight-heavy)}

@media (max-width: 900px) {
  html {font-size: 15px}
}

@media (max-width: 400px) {
  html {font-size: 13px}
}
