/* Main CSS file to contain imports */
/* Third party imports */
@import url('../node_modules/normalize.css/normalize.css');

/* Reset */
@import 'core/reset.style';

/* Functions */
@import 'core/utils/functions';

/* Style adjustments */
@import 'theme';

/* Base vars */
@import 'core/vars.style';

/* Layout and grid */
@import 'core/grid.style';

/* Type */
@import 'core/type.style';

/* Forms */
@import 'core/forms.style';

/* Alerts */
@import 'core/alerts.style';

/* Navbar */
@import 'core/navbar.style';

/* Misc */
@import 'core/misc.style';

/* Helpers */
@import 'core/helpers.style';

/* Buttons */
@import 'core/buttons.style';

/* Tables */
@import 'core/tables.style';

/* Labels */
@import 'core/labels.style';

/* Clearfix */
.clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: block;
  }
}
