section(data-test="buttonsCnt")
  .cnt
    h2#buttons Buttons
    hr
    h3 Basic Set

    a(href='') Plain Anchor
    button.btn.btn__link Button Link
    button.btn Simple buttons
    button.btn.btn__primary Primary Button
    button.btn.btn__success Success Button
    button.btn.btn__warning Warning Button
    button.btn.btn__danger Danger Button
    button.btn.btn__info Info Button

  .cnt
    h3 Button Sizes
    button.btn.btn__xs Button Extra Small
    button.btn.btn__sm Button Small
    button.btn.btn__md Button Medium
    button.btn.btn__lg Button Large

    h3 Button Emphasis
    button.btn.btn__lg.btn__primary.btn__emphasis Button Emphasis

    h3 Horizontal Button Group
    .btn_group
      button.btn Simple Button
      button.btn Simple Button
      button.btn Simple Button
      button.btn Simple Button

    h3 Vertical Button Group
    .btn-group__v
      button.btn Simple Button
      button.btn Simple Button
      button.btn Simple Button
      button.btn Simple Button
