section(data-test="gridCnt")
  .cnt
    h2 Grid

    .cols
      each val in [1,2,3,4]
        .col
          h3 Column
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi architecto suscipit quia facilis explicabo soluta minima corrupti possimus itaque maxime veniam in ut accusantium voluptates laudantium, aperiam doloremque reprehenderit voluptatibus.
